# --- Vesuvius pipeline outputs (local only) ---
ply/*
!ply/.gitkeep

ply_clean/*
!ply_clean/.gitkeep

surf/*
!surf/.gitkeep

out_entry/*
!out_entry/.gitkeep


*.zip

# --- caches / temp ---
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/
.DS_Store
Thumbs.db
